*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

html::-webkit-scrollbar{
  width: 0.4rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: rgba(209, 169, 84, 1);
}

body {
  background-color: rgba(51, 51, 51, 1);
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}
::selection{
  background: rgba(209, 169, 84, 1);
  color: #fff;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  width: 100%;
}
section{
  min-height: 100vh;
  padding: 9rem;
}

.main{
  display: flex;
  padding-top: 120px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(img/about_baner.png) center center;
  background-size: cover;
  min-height: 525px;
  max-height: 495px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .main-container  h1{
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

@media (max-width: 768px){
  .main .main-container h1{
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }
}

@media (max-width: 500px){
  .main .main-container h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;  
  }
}


/**/

.actors-container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  border-radius: 8px;
}

.card__data {
  width: 280px;
  background-color: #afafb6;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  font-size: .913rem;
  margin-bottom: .25rem;
}

.card__title {
  font-size: 1.45rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: .75rem;
}

.card__button:hover {
  text-decoration: underline;
}

.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

@media screen and (min-width: 320px) {
  section{
    padding: 1rem;
  }
  .actors-container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 200px;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  section{
    padding: 3rem;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1120px) {
  .card__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .card__img {
    width: 200px;
  }
  .card__data {
    width: 200px;
    padding-inline: 2.5rem;
  }
}












