nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 1000000;
}
nav.sticky{
  border-bottom: .1rem solid rgba(209, 169, 84, 1);
  box-shadow: 0 .1rem 1rem rgba(209, 169, 84, 1);
  background: rgba(51, 51, 51, 1);
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 10px 2% 10px;
}
.navbar .logo{
  overflow-y: hidden;
  width: 130px;
}
nav .navbar .nav-links{
  line-height: 100px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Arm Hmks";
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}
nav .navbar .links li a.active,
nav .navbar .links li i.active{
  color: rgba(209, 169, 84, 1);
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
}
nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  font-size: 12px;
  background: rgba(209, 169, 84, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .number{
  font-size: 15px;
  cursor: default;
  margin-top: 15px;
  border-bottom: 2px solid rgba(209, 169, 84, 1);
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:1180px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 45px;
  }
  .navbar .number{
    margin-top: -5px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
}

@media (max-width:990px){
  nav{
    height: 50px;
  }
  nav .navbar{
    padding: 0 40px;
  }
  nav .navbar .logo{
    opacity: 0;
    width: 10px;
  }
  .logo-name img{
    width: 80px;
  }
  nav .navbar .number{
    font-size: 15px;
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 250px;
    width: 100%;
    background:  rgba(51, 51, 51, 1);
    line-height: 40px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo  i,
  .navbar .bx-menu{
    font-size: 25px;
    color: #fff;
  }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
  nav .navbar .links li{
    display: block;
    }
  nav .navbar .links li a {
    font-size: 15px;
  }  
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    display: flex;
    align-items: center;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow{
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow{
    transform: rotate(90deg);
  }
}

@media (max-width:400px){
  nav .navbar{
    padding: 0 20px;
  }
}
