*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }
}

html::-webkit-scrollbar{
  width: 0.4rem;
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: rgba(209, 169, 84, 1);
}

body {
  background-color: rgba(51, 51, 51, 1);
  color: #fff;
}
@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}
::selection{
  background: rgba(209, 169, 84, 1);
  color: #fff;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  width: 100%;
}

.main{
  display: flex;
  padding-top: 120px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(img/about_baner.png) center center;
  background-size: cover;
  min-height: 525px;
  max-height: 495px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h1{
  font-size: 7rem;
  font-weight: 700;
  line-height: .5;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (max-width: 780px){
  .main h1{
    font-size: 4rem;
  }
}

/* Staff */

.container-box{
  position: relative;
  display: flex;
  padding: 100px 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.container-box .card{
  position: relative;
  width: 350px;
  height: 180px;
  background: #afafb6;
}

.container-box .card .lines{
  position: absolute;
  inset: 0;
  background: #000;
  box-shadow: 0 .1rem 1rem rgba(209, 169, 84, 1);
  overflow: hidden;
}

.container-box .card .lines::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, rgba(209, 169, 84, 1),rgba(209, 169, 84, 1),rgba(209, 169, 84, 1),transparent);
  animation: animate 4s linear infinite;
  animation-play-state: running;
}



@keyframes animate{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

.container-box .card .lines::after{
  content: "";
  position: absolute;
  inset: 3px;
  background: rgba(51, 51, 51, 1);
}

.container-box .card .imgBx img{
  position: absolute;
  top: -70px;
  left: 50%;
  width: 170px;
  transform: translateX(-50%);
  border-radius: 13px;
}

.card .content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .box-about{
  padding: 30px 20px 0;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  margin: 20px;
}

.card .content .box-about h2{
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  line-height: 2.1em;
}
.card .content .box-about h3{
  color: rgba(209, 169, 84, 1);
  font-size: 1.4rem;
}

